<!DOCTYPE html>
<html>
<body>

<h1>Covid-19 Mobile Data Tracking</h1>
<p>Date/Time: <span id="datetime"></span></p>
<p>Click the button to get your coordinates.</p>

<button id="get" onclick="getLocation()">Find Location</button>
<button id="send" onclick="SendLocation()">Send Location</button>

<p id="demo"></p>

<form id="location" action="/send_location" method="POST">
    <input type="hidden" id="lat" name="lat" value="null"><br>
    <input type="hidden" id="lng" name="lng" value="null"><br>
    <input type="hidden" id="_date" name="date" value="null"><br>
    <input type="hidden" id="time" name="time" value="null"><br>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<script>

// Get HTML elements for use later
var out = document.getElementById("demo");
var sendButton = document.getElementById("send");
var locationForm = document.getElementById("location");
var lat = document.getElementById("lat");
var lng = document.getElementById("lng");
var dt = new Date();
var time = document.getElementById("time");
var _date = document.getElementById("_date");

document.getElementById("datetime").innerHTML = dt.toLocaleString();

var dd = String(dt.getDate()).padStart(2, '0');
var mm = String(dt.getMonth()+1).padStart(2, '0');
yyyy = dt.getFullYear();
_date.value = yyyy + "-" + mm + "-" + dd;


var hours = String(dt.getHours());
var minutes = String(dt.getMinutes());
var seconds = String(dt.getSeconds());
time.value = hours + ":" + minutes + ":" + seconds;

// var sent = {{ sent|safe }}; // This value determines if the page is being visited for the first time or returned to after the user sent their location
// if(sent){ // This value is sent over via Flask
//     out.innerHTML = "Information Sent"; // If sent, the page is being returned to
// }

// TODO: Checking the form element would be a better way to do this
if(out.value == undefined){ // If we have not gotten a latitude or longitude
    sendButton.disabled = true; // Disable the send button so null data can't be sent
}

function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        out.innerHTML = "Geolocation is not supported by this browser.";
    }
}

// TODO: Change from a button to an if statement to automatically find user location
function showPosition(position) {
    // Update the form values with latitude and longitude
    lat.value = position.coords.latitude;
    lng.value = position.coords.longitude;
    out.innerHTML = "Latitude: " + position.coords.latitude +
    "<br>Longitude: " + position.coords.longitude;
    sendButton.disabled = false; // User can now submit their location data
}

if ("geolocation" in navigator) {
    getLocation();
    //await delay(2000);
    //SendLocation();
    setTimeout(function(){SendLocation()}, 300000);
} else {
    console.log("location could not be found");
}

function SendLocation() {

    //information sending portion goes here

    var data = {
    'latitude': lat,
    'longitude': lng,
    'time': time,
    'date': _date
    }

    $.ajax({
    url: '/send_location',
    type: 'POST',
    data: JSON.stringify(data),
    })
    .done(function(result){
        console.log(result)
    })


    sendButton.disabled = true;
    out.innerHTML = "Information Sent"; // If sent, the page is being returned to
    locationForm.submit(); //TODO: Add verification that lat/lng != null before submitting
}
</script>
<p><a href='/display'>find locations here!</a></p>

</body>
</html>